/* CSS Document */

@charset "utf-8";

/*ALL*/

a {
  color: #1ca9e3;
  text-decoration: none;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  color:#58b2dc;
  letter-spacing: 6px;
  font-weight:400;
}

h2 {
  width: calc(50%);
  min-width: 320px;
  color: #313131;
  letter-spacing: 6px;
  font-weight:400;
  text-shadow: 0 0 5px white;
  padding: 0.3em 0.5em;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

/*Header*/

header {
  background: linear-gradient(90deg, #003973, #E5E5BE);
  height:80px;
  padding: 10px;
}

#header .caption {
  font-family: 'Oswald', sans-serif;
  font-size :12px;
  color : #58b2dc;
  letter-spacing: 0.15rem;
}

/*Navigation*/

nav{
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Oswald', sans-serif;
  z-index: 0;
}
nav ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  padding: 0px;
}
nav li{
 
  border:1px solid #313131;
  border-radius: 5px;
  width: calc(12% - 2px);
  min-width: 160px;
  letter-spacing: 5px;
  line-height: 32px;
  color: #313131;
  text-align: center;
  float: left;
  list-style-type: none;
  padding: 0px;
}

nav li:hover{
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  transition: background-color 0.5s ease-out;
  color: #fff;
}

#nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);
}

/*Contents*/

#contents{
  padding:10px;
}

#contents table {
  margin: 12px;
}

#contents table th{
  text-align: center;
  color: #003973;
  letter-spacing: 0.15rem;
  width: 120px;
  border-bottom:1px solid #909090;
  padding-top:0.3em;
  padding-bottom:0.3em;
}

#contents table td{
  text-align: left;
  color: #3e3e3e;
  letter-spacing: 0.15rem;
  border-bottom:1px solid #909090;
}

.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 12px;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}


/*footer*/

footer {
  background-color: #e0e0e0;
  width: calc(100%);
  height:20px;
  position : fixed;
  bottom:0;
  padding :0.2em;
  font-family: 'Oswald', sans-serif;
  font-size :12px;
  color: 888888;
  letter-spacing: 0.15rem;
  text-align: right;
}
